.sendform {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 50px;
}

.sendform__input {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid gray;
  padding-left: 8px;
}

.sendform__button {
  width: 30%;
  height: 100%;
  padding: 0 8px;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}
