.sendform {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 50px;
  border-top: 1px solid gray;
}

.sendform__input {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 0 8px;
  border: none;
  outline: none;
}

.sendform__button {
  width: 30%;
  height: 100%;
  padding: 0 8px;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .sendform__text {
    display: none;
  }

  .sendform__button {
    display: block;
    width: 70px;
    background-image: url('../../images/send.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    padding: 0 15px;
    border: none;
  }
}

.sendform__video {
  box-sizing: border-box;
  padding: 4px;
  border: none;
  background-color: transparent;
  width: 50px;
  background-image: url('../../images/video.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 12px;
  outline: none;
}

.sendform__video_off {
  background-image: url('../../images/video-off.svg');
}
