.video__content {
  max-width: 320px;
  max-height: 250px;
  display: block;
}

.video__content::-webkit-media-controls {
  display: none !important;
}
.video {
  width: 100%;
  position: relative;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.video__container_hide {
  display: none;
}

.video__toggler-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 13px;
  right: 13px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
}

.video__toggler {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}

.video__toggler_show {
  background-image: url('../../images/show.svg');
}

.video__toggler_hide {
  background-image: url('../../images/hide.svg');
}

.video__toggler-caption {
  display: block;
}

.video__wrapper {
  position: relative;
}

.video__name {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}

.video__loader {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 40px;
}

.video__volume {
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  background-image: url('../../images/sound.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  cursor: pointer;
  outline: none;
  transform: translate(-50%, -50%);
  border: none;
}

.video__volume_off {
  background-image: url('../../images/sound-off.svg');
}

.video__volume_mic {
  background-image: url('../../images/mic.svg');
}

.video__volume_mic_off {
  background-image: url('../../images/mic-off.svg');
}
