@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

#root {
  background-image: url('./images/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
